.create {
  border: 2px solid;
  border-radius: 10px;
  padding: 30px;
}

.owned {
  border: 2px solid #37dabc;
  border-radius: 10px;
  padding: 30px;
}

.differing {
  border: 2px solid #fd5c63;
  border-radius: 10px;
  padding: 30px;
}

.logged {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 30px;
}