@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: expand 1.3s ease forwards;
}

header{
  height: 70px;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  margin: 0;
}

header > h1{
  margin: 0;
  line-height: 70px;
  font-weight: 900;
}

section{
  margin: auto;
}

.sucessSection > .card, .failSection > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;
  position: relative;
  width: 300px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  height: 440px;
  text-align: center;
  animation: expandCard 3s ease forwards;
}

.inProcessSection > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column nowrap;
  position: absolute;
  top:0;
  width: 600px;
  margin-left: -300px;
  padding-top: 150px;
  text-align: center;
  animation: expandCard 3s ease forwards;
}

.card-shape1{
  position: absolute;
  width: 442px;
  height: 431px;
  z-index: 0;
  opacity: 0.6;
  top: -155px;
  left: -34px;
  border-radius: 150px;
  background: #000000;
  animation: rotate 30s linear infinite;
}

.inProcessSection > .card > .card-shape1 {
  position: absolute;
  width: 442px;
  height: 431px;
  left: 75px;
  z-index: 0;
  opacity: 0.6;
  top: -190px;
  border-radius: 150px;
  background: #000000;
  animation: rotate 30s linear infinite;
}

.card-shape2{
  background: #000000;
  position: absolute;
  border-radius: 180px;
  height: 428px;
  width: 492px;
  top: -160px;
  left: -96px;
  opacity : 0.4;
  z-index : 2;
  animation : rotate 25s linear infinite;
}

.inProcessSection > .card > .card-shape2 {
  background: #000000;
  position: absolute;
  left: 75px;
  border-radius: 180px;
  height: 428px;
  width: 492px;
  top: -200px;
  opacity : 0.4;
  z-index : 2;
  animation : rotate 25s linear infinite;
}

.card-shape3{
  background-color: #000000;
  position: absolute;
  border-radius: 180px;
  height: 444px;
  width: 517px;
  top: -180px;
  left: -71px;
  opacity: 0.3;
  z-index: 3;
  animation: rotate 32s linear infinite;
}

.inProcessSection > .card > .card-shape3 {
  background-color: #000000;
  position: absolute;
  border-radius: 180px;
  left: 75px;
  height: 444px;
  width: 517px;
  top: -220px;
  opacity: 0.3;
  z-index: 3;
  animation: rotate 32s linear infinite;
}

img{
  z-index: 5;
  position: relative;
  width: 265px;
  left: 36px;
  top: 9px;
}

.card h1{
  font-weight: 900;
}

.card p{
  font-weight: 500;
}

.text{
  position: relative;
}

.text h1{
  color: #46d69a;
}

footer{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

footer::after{
  padding-right: 60px;
  line-height: 50px;
}

.footerDiv{
  animation: popup 3s ease-in;
}

.flowscan{
  text-decoration: none;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

i{
  margin: 5px;
  font-size: 30px;
}

i:hover{
  color: whitesmoke;
  cursor: pointer;
}

.logoEmerald{
  position: absolute;
  top: 28px;
  left: 127px;
  width: 76px;
  animation: rotate1 4s linear infinite;
}

.sucess {
  background-color: #46d69a;
}

@keyframes rotate {
  from {
     transform : rotate(0)
  }
  to {
    transform : rotate(1turn);
  }
}


@keyframes rotate1 {
  0%   { transform: translateY(0) rotate(0); }
  50%  { transform: translateY(-25px) rotate(180deg); }
  100% { transform: translateY(0) rotate(360deg); }
}

@keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
}

@keyframes expandCard {
    0% {
      transform: translateY(-1400px);
    }
    100% {
      transform: translateY(0px);
    }
}

@keyframes popup {
    0%{
      transform: scale(0);
    }
    80%{
        transform: scale(0.01);
    }
    100%{
        transform: scale(1);
    }
}

/*----------------  FAIL ---------------- */

.fail{
  background-color: rgb(206, 67, 67);
}


.textFail h1{
  color: rgb(206, 67, 67);
}

.failCard img{
  left: 21px;
  width: 242px;
}


/*----------------  SETTING UP ---------------- */

.inProcess{
  background-color: rgb(79, 198, 185);
}

.logoEmeraldBig{
  z-index: 5;
  position: absolute;
  top: 40px;
  left :50%;
  margin-left: -74px;
  width: 148px;
  animation: justRotate 4s linear infinite;
}

.inProcess .text{
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inProcess .text > h1{
  color: #0d211f;
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 20px;
}

@keyframes justRotate {
  0%   { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

/*
@media screen and (max-width: 456px) {
  header > h1{
      font-size: 20px;
  }
  .card{
      width: 245px;
      height: 370px;
  }
  .sucess, .fail > .logoEmerald{
      width: 60px;
      left: 107px;
      top: 32px;
  }
  .card-shape1{
      top: -181px;
  }
  .card-shape2{
      top: -193px;
  }
  .card-shape3{
      top: -202px;
  }
  .justHand{
      width: 235px;
      left: 18px;
      top: 15px;
  }
  .text h1{
      padding: 0;
      margin-bottom: 0;
      margin-top: 30px;
  }

  .textFail p{
      font-size: 14px;
  }

  .logoEmeraldBig{
      top: 72px;
      left: 65px;
  }

  .inProcess .text{
      top: 125px;
  }

  .inProcess .text p{
      margin-top: 5px;
  }

  .inProcess .text h1{
      font-size: 20px;
  }
}
*/

.loadingTx > h1 {
  background-color: rgb(27 40 50);
  color: rgb(250, 250, 250);
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .inProcess .text > h1{
    font-size: 20px;
  }
}











/* CSS */
.loggedInButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 20px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  height: 150px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.transaction-link {
  color: rgb(16, 129, 194);
  font-size: 40px;
  outline: 0;
  text-decoration: none;
  font-family: sans-serif;
}

.green {
  padding: 10px;
  background-color: #46d69a;
}


.red {
  padding: 10px;
  background-color: rgb(206, 67, 67);
}

/*

.blue {
  padding: 10px;
  background-color: rgb(67, 132, 206);
} */

.sublink {
  font-size:0.65rem;
  text-decoration:underline;
  padding-top: 20px;
}