@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: expand 1.3s ease forwards;
}

header {
  height: 70px;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  margin: 0;
}

header>h1 {
  margin: 0;
  line-height: 70px;
  font-weight: 900;
}

section {
  margin: auto;
}

.sucessSection>.card,
.failSection>.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;
  position: relative;
  width: 300px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  height: 440px;
  text-align: center;
  animation: expandCard 3s ease forwards;
}

.inProcessSection>.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  width: 600px;
  margin-left: -300px;
  padding-top: 150px;
  text-align: center;
  animation: expandCard 3s ease forwards;
}

.card-shape1 {
  position: absolute;
  width: 442px;
  height: 431px;
  z-index: 0;
  opacity: 0.6;
  top: -155px;
  left: -34px;
  border-radius: 150px;
  background: #000000;
  animation: rotate 30s linear infinite;
}

.inProcessSection>.card>.card-shape1 {
  position: absolute;
  width: 442px;
  height: 431px;
  left: 75px;
  z-index: 0;
  opacity: 0.6;
  top: -190px;
  border-radius: 150px;
  background: #000000;
  animation: rotate 30s linear infinite;
}

.card-shape2 {
  background: #000000;
  position: absolute;
  border-radius: 180px;
  height: 428px;
  width: 492px;
  top: -160px;
  left: -96px;
  opacity: 0.4;
  z-index: 2;
  animation: rotate 25s linear infinite;
}

.inProcessSection>.card>.card-shape2 {
  background: #000000;
  position: absolute;
  left: 75px;
  border-radius: 180px;
  height: 428px;
  width: 492px;
  top: -200px;
  opacity: 0.4;
  z-index: 2;
  animation: rotate 25s linear infinite;
}

.card-shape3 {
  background-color: #000000;
  position: absolute;
  border-radius: 180px;
  height: 444px;
  width: 517px;
  top: -180px;
  left: -71px;
  opacity: 0.3;
  z-index: 3;
  animation: rotate 32s linear infinite;
}

.inProcessSection>.card>.card-shape3 {
  background-color: #000000;
  position: absolute;
  border-radius: 180px;
  left: 75px;
  height: 444px;
  width: 517px;
  top: -220px;
  opacity: 0.3;
  z-index: 3;
  animation: rotate 32s linear infinite;
}

.format-img {
  z-index: 5;
  position: relative;
  width: 265px;
  left: 36px;
  top: 9px;
}

.card h1 {
  font-weight: 900;
}

.card p {
  font-weight: 500;
}

.text {
  position: relative;
}

.text h1 {
  color: #46d69a;
}

footer {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

footer::after {
  padding-right: 60px;
  line-height: 50px;
}

.footerDiv {
  animation: popup 3s ease-in;
}

.flowscan {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

i {
  margin: 5px;
  font-size: 30px;
}

i:hover {
  color: whitesmoke;
  cursor: pointer;
}

.logoEmerald {
  position: absolute;
  top: 28px;
  left: 127px;
  width: 76px;
  animation: rotate1 4s linear infinite;
}

.sucess {
  background-color: #46d69a;
}

@keyframes rotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(1turn);
  }
}


@keyframes rotate1 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-25px) rotate(180deg);
  }

  100% {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes expandCard {
  0% {
    transform: translateY(-1400px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(0.01);
  }

  100% {
    transform: scale(1);
  }
}

/*----------------  FAIL ---------------- */

.fail {
  background-color: rgb(206, 67, 67);
}


.textFail h1 {
  color: rgb(206, 67, 67);
}

.failCard img {
  left: 21px;
  width: 242px;
}


/*----------------  SETTING UP ---------------- */

.inProcess {
  background-color: rgb(79, 198, 185);
}

.logoEmeraldBig {
  z-index: 5;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  animation: justRotate 4s linear infinite;
}

.inProcess .text {
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inProcess .text>h1 {
  color: #0d211f;
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 20px;
}

@keyframes justRotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
@media screen and (max-width: 456px) {
  header > h1{
      font-size: 20px;
  }
  .card{
      width: 245px;
      height: 370px;
  }
  .sucess, .fail > .logoEmerald{
      width: 60px;
      left: 107px;
      top: 32px;
  }
  .card-shape1{
      top: -181px;
  }
  .card-shape2{
      top: -193px;
  }
  .card-shape3{
      top: -202px;
  }
  .justHand{
      width: 235px;
      left: 18px;
      top: 15px;
  }
  .text h1{
      padding: 0;
      margin-bottom: 0;
      margin-top: 30px;
  }

  .textFail p{
      font-size: 14px;
  }

  .logoEmeraldBig{
      top: 72px;
      left: 65px;
  }

  .inProcess .text{
      top: 125px;
  }

  .inProcess .text p{
      margin-top: 5px;
  }

  .inProcess .text h1{
      font-size: 20px;
  }
}
*/

.loadingTx>h1 {
  background-color: rgb(27 40 50);
  color: rgb(250, 250, 250);
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .inProcess .text>h1 {
    font-size: 20px;
  }
}











/* CSS */
.loggedInButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 20px;
  line-height: 1.15;
  margin: 0px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 250px;
  height: 75px;
  margin: 10px;
}

.blocto {
  position: relative;
  top: 0;
  width: 100vw;
  height: 49vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: #405cf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dapper {
  position: relative;
  width: 100vw;
  top: 2vh;
  height: 49vh;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  color: #9900f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocto-color {
  color: #a1c4fd;
}

.dapper-color {
  color: #b565da;
}

.blue {
  background-color: #405cf5;
}

.purple {
  background-color: #9900f0;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.button-9:hover {
  opacity: 80%;
}

.transaction-link {
  color: rgb(16, 129, 194);
  font-size: 40px;
  outline: 0;
  text-decoration: none;
  font-family: sans-serif;
}

.green {
  padding: 10px;
  background-color: #46d69a;
}

.emerald-color {
  color: #37e2c1;
}

.back-arrow {
  position: fixed;
  top: 5px;
  left: 25px;
  background: 0;
  color: white;
  outline: 0;
  border: 0;
  font-size: 75px;
  cursor: pointer;
}

.span-image {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 100%;
}

.reset-text {
  background: 0;
  outline: 0;
  border: 0;
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
  cursor: pointer;
}

.red-text {
  color: rgb(206, 67, 67);
}

.red {
  padding: 10px;
  background-color: rgb(206, 67, 67);
}

.white {
  color: #fff;
}

.rounded {
  background-color: white;
  border-radius: 100px;
  border: 0;
  outline: 0;
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  cursor: pointer;
}

.rounded img {
  position: relative;
  border-radius: 100%;
  width: 105px;
  height: 105px;
  display: block;
  left: -35px;
}

.unavailable:hover {
  opacity: .3;
}

@media all and (max-width: 700px) {
  .rounded {
    width: 300px;
  }

  .rounded img {
    position: relative;
    left: -20px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }

  .create {
    padding: 10px;
  }
}

.rounded:hover {
  animation: glide-down .5s forwards;
}

.grid {
  display: grid;
}

@keyframes glide-down {
  100% {
    transform: translateY(-20px);
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  position: fixed;
  top: 10px;
  right: 10px;
}


/*

.blue {
  padding: 10px;
  background-color: rgb(67, 132, 206);
} */

.sublink {
  font-size: 0.65rem;
  text-decoration: underline;
  padding-top: 20px;
}

/* creating */

.create {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #11191f;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome {
  position: fixed;
  top: 10vh;
}

.elementor {
  position: relative;
  margin: 0;
  padding: 30px;
  min-width: 40vw;
  color: white;
}

.elementor>div {
  margin-bottom: 50px;
}

.elementor img,
.elementor button {
  transition: all .3s ease-in-out;
  cursor: pointer;
  text-align: center;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

.elementor p {
  text-align: center;
}

.elementor img:hover {
  opacity: 80%;
}