@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background: rgb(22, 22, 22);
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1, h2, h3 {
  margin-bottom: 0px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100px;
  background-color: aquamarine;
}