.wallet {
  width: 100%;
  height: 80vh;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  h1 {
    font-size: 70px;
  }

  p {
    font-size: 20px;
  }

  @media all and (max-width: 700px) {
    h1 {
      font-size: 30px;
    }
    
    p {
      font-size: 16px;
    }
  }
}

.section {
  position: relative;
  width: 600px;
  left: 50%;
  min-height: 40vh;
  transform: translateX(-50%);

  button {
    cursor: pointer;
    min-width: 220px;
    padding: 16px 32px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 10px;
    bottom: 30px;
    color: white;
    font-weight: bold;
  }

  @media all and (max-width: 700px) {
    width: 300px;
  }
}