.wallets {
  width: 100%;
  min-height: 40vh;
  margin-bottom: 20vh;

  @media all and (max-width: 700px) {
    margin-top: 200px;
  }

  h2 {
    font-size: 50px;
    text-align: center;
  }

  .list {
    position: relative;
    top: 50px;
    display: flex;
    width: 80%;
    left: 10%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .supported {
      position: relative;
      width: 70%;
      max-width: 800px;
      background: rgb(11, 11, 11);
      display: flex;
      border-radius: 20px;
      margin: 50px 0px;
      height: 400px;

      img {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
      }

      .info {
        width: 50%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;

        h3 {
          margin: 0px;
          font-size: 40px;
        }

        button {
          cursor: pointer;
          min-width: 220px;
          padding: 16px 32px;
          text-transform: uppercase;
          outline: 0;
          border: 0;
          border-radius: 10px;
          bottom: 30px;
          color: white;
          font-weight: bold;
        }
      }

      @media all and (max-width: 1000px) {
        height: auto;
        flex-direction: column;
        width: 90%;

        img {
          width: 100%;
          max-height: 200px;
          border-radius: 20px 20px 0px 0px;
        }

        .info {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h3 {
            text-align: center;
          }
        }
      }
    }
  }
}